<% content_for(:document_title, user.name) %>

<%= render "sidebar", "data-sliding-drawer-offset-height-value": 0 do %>
  <div class="grid grid-cols-2 mb-4">
    <h1 class="font-bold text-brown text-2xl"><%= user.name %></h1>
    <%= render "avatar", avatar: user.avatar, class: "place-self-end w-16", width: 64, height: 64 %>
    <%= simple_format user.biography %>
  </div>

  <dl class="text-brown">
    <dt class="font-bold mb-2">Home neighborhood</dt>
    <dd><%= user.neighborhood %></dd>

    <dt class="font-bold mb-2">Recommendations</dt>
    <dd>
      <ul class="space-y-2">
        <%= render layout: "li", partial: user.created_locations %>
      </ul>
    </dd>
  </dl>
<% end %>

<%= render "map" %>
