<%= tag.aside class: "absolute inset-0 md:relative md:w-1/2 lg:w-3/4" do %>
  <%= form_with url: searches_path, html: {
    "data-controller": "search",
    "data-search-hidden-class": "hidden",
    "data-action": "
      leaflet:movestart@document->search#hideSubmit
      leaflet:moveend@document->search#showSubmit
      leaflet:moveend@document->search#updateBounds
    ",
  } do |form| %>
    <%= form.hidden_field :bounds %>

    <div class="
      absolute
      flex
      flex-row
      justify-center
      left-0
      mt-6
      md:mt-8
      right-0
      top-0
    ">
      <%= render "button", builder: form, class: "bg-opacity-75 border-clementine hidden px-6 py-2 z-10" do %>
        <%= inline_svg_tag "icons/search.svg", class: "h-4 w-4" %>
        <span>Search this area</span>
      <% end %>
    </div>
  <% end %>

  <%= tag.template(
    "data-leaflet-target": "template",
    "data-leaflet-geo-json-value": render(formats: :geojson, partial: "map", locals: local_assigns),
  ) do %>
    <%= render formats: :svg, layout: "locations/marker", partial: locations %>
  <% end %>

  <%= tag.div(id: "leaflet-map", class: "h-screen-minus-header z-0",
    "data-controller": "leaflet",
    "data-leaflet-template-selector-value": %([data-leaflet-target="template"]),
    "data-leaflet-configuration-value": Rails.application.config_for(:leaflet).to_json,
    "data-turbolinks-permanent": true,
  ) %>
<% end %>
