<% content_for(:document_title, location.name) %>

<%= render "sidebar", "data-sliding-drawer-offset-height-value": 50 do %>
  <div class="flex items-center justify-between mb-4">
    <h1 class="font-bold text-brown text-2xl"><%= location.name %></h1>

    <%= render formats: :svg, layout: "image", partial: location, locals: { class: "h-12 w-12" } %>
  </div>

  <address class="mb-4 not-italic text-brown-lighter">
    <p><%= location.line1 %></p>
    <% if location.line2? %>
    <p><%= location.line2 %></p>
    <% end %>
    <p><%= location.city %>, <%= location.state %> <%= location.postal_code %></p>
  </address>

  <dl class="text-brown">
    <dt class="font-bold mb-2">Recommended by</dt>
    <dd class="mb-2">
      <% location.creator.tap do |creator| %>
        <%= render "card_link", url: user_path(creator), class: "grid grid-cols-2 gap-4" do %>
          <span class="font-bold text-xl truncate"><%= creator.name %></span>

          <%= render "users/avatar", avatar: creator.avatar, alt: creator.name, class: "place-self-end w-8" %>

          <span class="text-sm"><%= simple_format creator.biography %></span>

          <span class="place-self-end text-sm">Read More →</span>
        <% end %>
      <% end %>
    </dd>

    <% if location.recommendations.any? %>
    <dt class="sr-only">Recommendation</dt>
    <dd class="mb-2 text-brown"><%= location.recommendations.first.content %></dd>
    <% end %>

    <dt class="font-bold mb-2">Tags</dt>
    <dd class="mb-2 text-sm">
      <span class="bg-white px-2 py-1 rounded-full"><%= location.locatable_name.titleize %></span>
    </dd>

    <% location.nearby(1, unit: :mi).tap do |nearby_locations| %>
      <% if nearby_locations.any? %>
        <dt class="font-bold mb-2">Nearby<dt>
        <dd class="mb-2">
          <ul class="space-y-2">
            <%= render layout: "li", partial: nearby_locations %>
          </ul>
        </dd>
      <% end %>
    <% end %>
  </dl>
<% end %>

<%= render "map", center: location.to_coordinates, locations: [ location ] + location.nearby(1, unit: :mi) %>
