<% content_for(:document_title, location.name) %>

<section>
  <div>
    <h1><%= location.name %></h1>
  </div>

  <address>
    <p><%= location.line1 %></p>
    <% if location.line2? %>
    <p><%= location.line2 %></p>
    <% end %>
    <p><%= location.city %>, <%= location.state %> <%= location.postal_code %></p>
  </address>

  <dl>
    <dt>Recommended by</dt>
    <dd>
      <% location.creator.tap do |creator| %>
        <%= link_to user_path(creator) do %>
          <span><%= creator.name %></span>
          <%= render "users/avatar", avatar: creator.avatar %>

          <span><%= simple_format creator.biography %></span>
          <span>Read More →</span>
        <% end %>
      <% end %>
    </dd>

    <dt>Tags</dt>
    <dd><%= location.locatable_name.titleize %></dd>
  </dl>
</section>
